<!doctype html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Service Binding</title>
</head>
<body>
  <h2>Current User</h2>
      <ul>
	{% for k in userinfo.keys() %}
	<li> {{ k }} : {{ "%s"%userinfo[k] }}
	{% endfor %}
      </ul>
  <h2>Cloud Info</h2>
  <ul>
      <li> cld_loc_info :  {{ cld.cld_loc_info  }}</li>
      <li> cld_loc_desc :  {{ cld.cld_loc_desc  }}</li>
      <li> cld_loc_name :  {{ cld.cld_loc_name  }}</li>
      <li> cld_authz_edp:  {{ cld.cld_authz_edp }}</li>
      <li> cld_token_edp:  {{ cld.cld_token_edp }}</li>
      <li> cld_oauth_id :  {{ cld.cld_oauth_id  }}</li>
  </ul>
  <h2> Service Info </h2>
  <table border="1">
    <tr>
      <td> Marketplace Name       </td> <td>     {{srvc["name"]        }} </td>
    </tr>
    <tr>
      <td> Marketplace Desc       </td> <td>     {{srvc["description"] }} </td>
    </tr>
    <tr>
      <td> All Plans  </td> <td><pre>{{srvc["plans_json"]       }} </pre> </td>
    </tr>
    <tr>
      <td> Instance Info </td> <td><pre>{{plan_desc           }} </pre> </td>
    </tr>
    <tr>
      <td> Args       </td> <td><pre>{{srvc["args"]        }} </pre> </td>
    </tr>
  </table>

  <h2> Binding Info </h2>
  <table border="1">
    <tr>
      <th> App      </th> 
      <th> args         </th> 
      
    </tr>
    {% for entry in binding %}
    <tr>
      <td> <a href="{{ entry['app'] }}"> {{ entry["app_guid"]       }}</a></td>
      <td> <pre>{{ entry["args"] }} </pre></td>
    </tr>
    {% endfor %}
  </table>

</body>
</html>
